<!DOCTYPE html>
<html lang="ru">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ _('corpus_title') }}</title>


    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/resume.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="static/img/favicon.png">

  </head>

  <body id="page-top">

    <p style="padding-left:2.7rem" id="about">
    &nbsp;&nbsp;|
  <span class="locale" title="Russian"><a href="./set_locale_start/ru" style="color: #d9241b !important">RU</a></span>&nbsp;
    |&nbsp;
  <span class="locale" title="English"><a href="./set_locale_start/en" style="color: #d9241b !important">EN</a></span>&nbsp;
    |&nbsp;
    </p>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">{{ _('corpus_title') }}</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="static/img/flag.jpg" alt="">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">{{ _('Главная') }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#translit">{{ _('Транскрипция') }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#instruction">{{ _('Как пользоваться корпусом') }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="./search">{{ _('Поиск') }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#consist">{{ _('Состав корпуса') }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#authors">{{ _('Создатели') }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contacts">{{ _('Контакты') }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#cite">{{ _('Как процитировать корпус') }}</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column">
        <div class="my-auto">
          <h2 class="mb-0">{{ _('Устный корпус') }}<br>
            <span class="text-primary" style="color: #d9241b !important">{{ _('абазинского языка') }}</span>
          </h2>
          <br>
          <br>
          <p class="lead" align="justify">{{ _('Корпус содержит устные тексты на тапантском диалекте абазинского языка. Записи были сделаны в ходе экспедиций НИУ ВШЭ и РГГУ в аул Инжич-Чукун Абазинского района республики Карачаево-Черкесия в 2017–2019 гг. Расшифровка и глоссирование текстов были выполнены участниками научно-учебной группы') }} <a href="https://ling.hse.ru/abazagrammar/" target="_blank" style="color: #d9241b !important">{{ _('“Аспекты грамматики абазинского языка”') }}</a> {{ _('и гранта РНФ 17-18-01184 "Коммуникативная организация естественного дискурса на звучащих и жестовых языках". С декабря 2019 г. поиск в корпусе работает в закрытом тестовом режиме.') }}</p>
          <br>
          <a class="btn btn-primary btn-xl js-scroll-trigger btn-main" href="./search">{{ _('К поиску') }}</a>
          <br>
          <br>
          

        </div>
      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="translit">
        <div class="my-auto">
          <h3 class="mb-3">{{ _('Транскрипция') }}</h3>
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <p class="lead">{{ _('Абазинские тексты приводятся в абазинской кириллической орфографии и в латинской транскрипции, выработанной московской научно-исследовательской группой по изучению абхазо-адыгских языков. Различия между МФА и системой транскрипции, используемой в корпусе, следующие:') }}</p>

              <ul style="color: black !important">
                <li>{{ _('абруптивные согласные обозначены точкой над или под буквой (например, ṗ, ṭ, ḳ),') }}</li>
                <li>{{ _('палатализованные согласные обозначены апострофом (например, g’, ʁ’, χ’),') }}</li>
                <li>{{ _('согласные c, č, š, ʒ, ǯ, ž, λ соответствуют t͡s, t͡ʃ, ʃ, dʒ, d͡ʒ, ʒ, ɬ в МФА,') }}</li>
                <li>{{ _('согласные ŝ, ẑ, ĉ (свистяще-шипящие) отсутствуют в МФА.') }}</li>
              </ul>

              <p class="lead">{{ _('Ударение в орфографической записи обозначено прописной буквой, ударение в транскрипции обозначено знаком акута.') }}</p>
            </div>
          </div>

      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="instruction">
        <div class="my-auto">
          <h3 class="mb-3">{{ _('Как пользоваться корпусом') }}</h3>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <p class="lead">{{ _('Этот корпус относится к группе корпусов, использующих поисковую платформу') }} <a href="https://bitbucket.org/tsakorpus/tsakorpus/src/master/" target="_blank" style="color: #d9241b !important">tsakorpus</a>. {{ _('Инструкция с описанием общих технических возможностей поиска в корпусах этого типа содержится в разделе «Справка» (кнопка с вопросительным знаком в правом верхнем углу страницы поиска). Ниже описаны некоторые правила, специфические для данного корпуса.') }}</p>
              <br>

              <h5 class="mb-2">{{ _('Поиск слова в орфографии') }}</h5>
              <p class="lead">{{ _('В поле “слово (орф)” можно ввести словоформы, используя орфографическую запись. Например, по запросу ') }}<i>{{ _('апхьарта') }}</i>{{ _(' ‘школа’ можно найти все вхождения этой словоформы в текстах корпуса. Для абруптивных согласных в орфографической записи используется знак I (заглавное латинское i), например, пI, тI, кI.') }}</p>
              <p class="lead">{{ _('Слова можно искать, используя регулярные выражения (подробнее см. в “Справке”). Например, знак ? обозначает “любой символ”, знак * обозначает “любое количество любых символов”. Так, по запросу ') }}<i>{{ _('ла') }}</i>{{ _(' в текущей версии корпуса можно найти одно вхождение слова ') }}<i>{{ _('ла') }}</i>{{ _(' ‘собака’; по запросу ') }}<i>{{ _('ла?') }}</i>{{ _(' найдется слово ') }}<i>{{ _('лан') }}</i>{{ _(' ‘ее мать’; по запросу ') }}<i>{{ _('ла*') }}</i>{{ _(' найдутся слова ') }}<i>{{ _('ла') }}</i>{{ _(' ‘собака’, ') }}<i>{{ _('лан') }}</i>{{ _(' ‘ее мать’, ') }}<i>{{ _('лара') }}</i>{{ _(' ‘она’, ') }}<i>{{ _('лаща') }}</i>{{ _(' ‘ее брат’ и др. Регистр не влияет на результаты поиска. ') }}</p>
              <p class="lead">{{ _('Это же поле используется для поиска по русскому переводу. Перед тем, как ввести слово по-русски, не забудьте поменять абазинский на русский в поле “Язык/слой”.') }}</p>

              <h5 class="mb-2">{{ _('Поиск слова в транскрипции') }}</h5>
              <p class="lead">{{ _('В поле “слово (транс)” можно ввести словоформы, используя запись в транскрипции. Например, по запросу ') }}<i>{{ _('apχ’arta') }}</i>{{ _(' ‘школа’ можно найти все вхождения этой словоформы в текстах корпуса. Наличие/отсутствие знака ударения над гласными не влияет на результаты поиска. Запросы с использованием регулярных выражений работают так же, как в поле “слово (орф)”.') }}</p>

              <h5 class="mb-2">{{ _('Поиск по глоссам') }}</h5>
              <p class="lead">{{ _('Поиск по глоссам позволяет создавать запросы, касающиеся морфемной структуры словоформ. Для того, чтобы воспользоваться поиском по глоссам, нужно ввести необходимые грамматические пометы в поле “глоссы” вручную (через запятую, если порядок глосс неважен) или же нажать на кнопку в правой части этого поля — появится окно-подсказка, в котором можно выбрать необходимые глоссы, а также задать их порядок относительно основы и относительно друг друга.') }}</p>
              <p class="lead">{{ _('Система глосс, используемая в корпусе, представлена в следующих таблицах.') }}</p>

              <p class="lead">{{ _('1. Личные префиксы') }}</p>

              <table>
                <tr>
                <td>{{ _('орфография') }}</td><td>{{ _('транскрипция') }}</td><td>{{ _('глосса') }}</td>
                </tr>
                <tr>
                <td>{{ _('с-') }}</td><td>{{ _('s-') }}</td><td>{{ _('1sg.abs, 1sg.io, 1sg.erg') }}</td>
                </tr>
                <tr>
                <td>{{ _('у-') }}</td><td>{{ _('w-') }}</td><td>{{ _('2m.abs, 2m.io, 2m.erg') }}</td>
                </tr>
                <tr>
                <td>{{ _('б-') }}</td><td>{{ _('b-') }}</td><td>{{ _('2f.abs, 2f.io, 2f.erg') }}</td>
                </tr>
                <tr>
                <td>{{ _('д-') }}</td><td>{{ _('d-') }}</td><td>{{ _('3h.abs') }}</td>
                </tr>
                <tr>
                <td>{{ _('й-') }}</td><td>{{ _('j-') }}</td><td>{{ _('3n.abs') }}<br>{{ _('3pl.abs') }}<br>{{ _('3m.io, 3m.erg') }}<br>{{ _('rel.abs') }}</td>
                </tr>
                <tr>
                <td>{{ _('хI-') }}</td><td>{{ _('h-') }}</td><td>{{ _('1pl.abs, 1pl.io, 1pl.erg') }}</td>
                </tr>
                <tr>
                <td>{{ _('шв-') }}</td><td>{{ _('ŝ-') }}</td><td>{{ _('2pl.abs, 2pl.io, 2pl.erg') }}</td>
                </tr>
                <tr>
                <td>{{ _('л-') }}</td><td>{{ _('l-') }}</td><td>{{ _('3f.io, 3f.erg') }}</td>
                </tr>
                <tr>
                <td>{{ _('на- / а-') }}</td><td>{{ _('na- / a-') }}</td><td>{{ _('3n.io. 3n.erg') }}</td>
                </tr>
                <tr>
                <td>{{ _('р- / д-') }}</td><td>{{ _('r- / d-') }}</td><td>{{ _('3pl.io, 3pl.erg') }}</td>
                </tr>
                <tr>
                <td>{{ _('з-') }}</td><td>{{ _('z-') }}</td><td>{{ _('rel.io, rel.erg') }}</td>
                </tr>
              </table><br>

              <p class="lead">{{ _('2. Прочие префиксы') }}</p>

              <table>
                <tr>
                <td>{{ _('орфография') }}</td><td>{{ _('транскрипция') }}</td><td>{{ _('глосса') }}</td><td>{{ _('название') }}</td>
                </tr>
                <tr>
                <td>{{ _('а-') }}</td><td>{{ _('a-') }}</td><td>{{ _('dat') }}</td><td>{{ _('датив') }}</td>
                </tr>
                <tr>
                <td>{{ _('а-') }}</td><td>{{ _('a-') }}</td><td>{{ _('def') }}</td><td>{{ _('определённость') }}</td>
                </tr>
                <tr>
                <td>{{ _('а(й)-') }}</td><td>{{ _('(a)j-') }}</td><td>{{ _('soc') }}</td><td>{{ _('социатив') }}</td>
                </tr>
                <tr>
                <td>{{ _('аба-, а(й)-') }}</td><td>{{ _('aba-, a(j)-') }}</td><td>{{ _('rec.io, rec.erg') }}</td><td>{{ _('реципрок') }}</td>
                </tr>
                <tr>
                <td>{{ _('ан-') }}</td><td>{{ _('an-') }}</td><td>{{ _('rel.tmp') }}</td><td>{{ _('темпоральная релятивизация') }}</td>
                </tr>
                <tr>
                <td>{{ _('ата-') }}</td><td>{{ _('ata-') }}</td><td>{{ _('rep') }}</td><td>{{ _('репетитив') }}</td>
                </tr>
                <tr>
                <td>{{ _('ба-/па-') }}</td><td>{{ _('ba-/pa-') }}</td><td>{{ _('qadv') }}</td><td>{{ _('адвербиальный интеррогатив') }}</td>
                </tr>
                <tr>
                <td>{{ _('гIа-') }}</td><td>{{ _('ʕa-') }}</td><td>{{ _('csl') }}</td><td>{{ _('цислокатив (директивный преверб «сюда»)') }}</td>
                </tr>
                <tr>
                <td>{{ _('гь-') }}</td><td>{{ _('g’-') }}</td><td>{{ _('neg.emp') }}</td><td>{{ _('эмфатическое отрицание') }}</td>
                </tr>
                <tr>
                <td>{{ _('дза-') }}</td><td>{{ _('ʒa-') }}</td><td>{{ _('lim') }}</td><td>{{ _('лимитив') }}</td>
                </tr>
                <tr>
                <td>{{ _('з-') }}</td><td>{{ _('z-') }}</td><td>{{ _('ben') }}<br>{{ _('pot') }}</td><td>{{ _('бенефактив') }}<br>{{ _('потенциалис') }}</td>
                </tr>
                <tr>
                <td>{{ _('з-') }}</td><td>{{ _('z-') }}</td><td>{{ _('rel.rsn') }}</td><td>{{ _('релятивизация причины') }}</td>
                </tr>
                <tr>
                <td>{{ _('ла-') }}</td><td>{{ _('la-') }}</td><td>{{ _('ins') }}</td><td>{{ _('инструменталис') }}</td>
                </tr>
                <tr>
                <td>{{ _('м-') }}</td><td>{{ _('m-') }}</td><td>{{ _('neg') }}</td><td>{{ _('отрицание') }}</td>
                </tr>
                <tr>
                <td>{{ _('ма-') }}</td><td>{{ _('ma-') }}</td><td>{{ _('jud') }}</td><td>{{ _('«юдикатив»') }}</td>
                </tr>
                <tr>
                <td>{{ _('мхъа-') }}</td><td>{{ _('mqa-') }}</td><td>{{ _('invol') }}</td><td>{{ _('инволюнтатив (“случайно”)') }}</td>
                </tr>
                <tr>
                <td>{{ _('на-') }}</td><td>{{ _('na-') }}</td><td>{{ _('trl') }}</td><td>{{ _('транслокатив (директивный преверб «отсюда»)') }}</td>
                </tr>
                <tr>
                <td>{{ _('прочие превербы') }}</td><td>{{ _(' ') }}</td><td>{{ _('loc') }}<br>{{ _('loc.elat') }}</td><td>{{ _('элативная форма преверба') }}</td>
                </tr>
                <tr>
                <td>{{ _('р-') }}</td><td>{{ _('r-') }}</td><td>{{ _('caus') }}</td><td>{{ _('каузатив') }}</td>
                </tr>
                <tr>
                <td>{{ _('тш-') }}</td><td>{{ _('č-') }}</td><td>{{ _('rfl.abs') }}</td><td>{{ _('рефлексив') }}</td>
                </tr>
                <tr>
                <td>{{ _('ц-') }}</td><td>{{ _('c-') }}</td><td>{{ _('com') }}</td><td>{{ _('комитатив') }}</td>
                </tr>
                <tr>
                <td>{{ _('чв-') }}</td><td>{{ _('ĉ-') }}</td><td>{{ _('mal') }}</td><td>{{ _('малефактив') }}</td>
                </tr>
                <tr>
                <td>{{ _('ш-') }}</td><td>{{ _('š-') }}</td><td>{{ _('rel.mnr') }}</td><td>{{ _('релятивизация способа') }}</td>
                </tr>
                <tr>
                <td>{{ _('(ъ)а-') }}</td><td>{{ _('(ʔ)a-') }}</td><td>{{ _('rel.loc') }}</td><td>{{ _('локативная релятивизация') }}</td>
                </tr>
              </table><br>

              <p class="lead">{{ _('3. Суффиксы') }}</p>

              <table>
                <tr>
                <td>{{ _('орфография') }}</td><td>{{ _('транскрипция') }}</td><td>{{ _('глосса') }}</td><td>{{ _('название') }}</td>
                </tr>
                <tr>
                <td>{{ _('—') }}</td><td>{{ _('—') }}</td><td>{{ _('imp') }}</td><td>{{ _('императив (нет своего показателя, указывается в скобках после основы)') }}</td>
                </tr>
                <tr>
                <td>{{ _('—') }}</td><td>{{ _('—') }}</td><td>{{ _('aor') }}</td><td>{{ _('аорист (нет своего показателя, указывается в скобках после основы)') }}</td>
                </tr>
                <tr>
                <td>{{ _('—') }}</td><td>{{ _('—') }}</td><td>{{ _('res') }}</td><td>{{ _('результатив (нет своего показателя, указывается в скобках после основы)') }}</td>
                </tr>
                <tr>
                <td>{{ _('-ба/-па') }}</td><td>{{ _('-ba/-pa') }}</td><td>{{ _('cln') }}</td><td>{{ _('классификатор вещей (при числительных)') }}</td>
                </tr>
                <tr>
                <td>{{ _('-бырг') }}</td><td>{{ _('-bərg') }}</td><td>{{ _('just') }}</td><td>{{ _('конверб (“как только”)') }}</td>
                </tr>
                <tr>
                <td>{{ _('-га') }}</td><td>{{ _('-ga') }}</td><td>{{ _('nins') }}</td><td>{{ _('имя инструмента') }}</td>
                </tr>
                <tr>
                <td>{{ _('-гвыща') }}</td><td>{{ _('-gʷəš’a') }}</td><td>{{ _('dprc') }}</td><td>{{ _('депрециатив (сожаление)') }}</td>
                </tr>
                <tr>
                <td>{{ _('-(гь)и') }}</td><td>{{ _('-(g’)əj') }}</td><td>{{ _('add') }}</td><td>{{ _('аддитив') }}</td>
                </tr>
                <tr>
                <td>{{ _('-гьашва') }}</td><td>{{ _('-g’aŝa') }}</td><td>{{ _('int') }}</td><td>{{ _('интенсив') }}</td>
                </tr>
                <tr>
                <td>{{ _('-гIа') }}</td><td>{{ _('-ʕa') }}</td><td>{{ _('elat') }}</td><td>{{ _('элатив') }}</td>
                </tr>
                <tr>
                <td>{{ _('-гIа') }}</td><td>{{ _('-ʕa') }}</td><td>{{ _('nml') }}</td><td>{{ _('номинализация') }}</td>
                </tr>
                <tr>
                <td>{{ _('-гIв') }}</td><td>{{ _('-ʕʷ') }}</td><td>{{ _('clh') }}</td><td>{{ _('классификтор людей (при числительных)') }}</td>
                </tr>
                <tr>
                <td>{{ _('-гIв') }}</td><td>{{ _('-ʕʷ') }}</td><td>{{ _('nag') }}</td><td>{{ _('имя деятеля') }}</td>
                </tr>
                <tr>
                <td>{{ _('-гIвышва') }}</td><td>{{ _('-ʕʷəŝa') }}</td><td>{{ _('int') }}</td><td>{{ _('интенсив') }}</td>
                </tr>
                <tr>
                <td>{{ _('-гIваца') }}</td><td>{{ _('-ʕʷaca') }}</td><td>{{ _('immed') }}</td><td>{{ _('иммедиатив, рестриктив (‘только (что)’)') }}</td>
                </tr>
                <tr>
                <td>{{ _('-да') }}</td><td>{{ _('-da') }}</td><td>{{ _('qh') }}</td><td>{{ _('личный интеррогатив') }}</td>
                </tr>
                <tr>
                <td>{{ _('-дза') }}</td><td>{{ _('-ʒa') }}</td><td>{{ _('ass') }}</td><td>{{ _('ассертив-интенсив') }}</td>
                </tr>
                <tr>
                <td>{{ _('-дза') }}</td><td>{{ _('-ʒa') }}</td><td>{{ _('lim') }}</td><td>{{ _('лимитив («до»)') }}</td>
                </tr>
                <tr>
                <td>{{ _('-дъа') }}</td><td>{{ _('-dʔa') }}</td><td>{{ _('car') }}</td><td>{{ _('каритив («без»)') }}</td>
                </tr>
                <tr>
                <td>{{ _('-з(а)') }}</td><td>{{ _('-z(a)') }}</td><td>{{ _('pst.nfin') }}</td><td>{{ _('нефинитное прошедшее') }}</td>
                </tr>
                <tr>
                <td>{{ _('-за') }}</td><td>{{ _('-za') }}</td><td>{{ _('infr') }}</td><td>{{ _('инферентив') }}</td>
                </tr>
                <tr>
                <td>{{ _('-заджвыкI') }}</td><td>{{ _('-zaʒ̂əḳ') }}</td><td>{{ _('rstr') }}</td><td>{{ _('рестриктив ‘только’') }}</td>
                </tr>
                <tr>
                <td>{{ _('-зара') }}</td><td>{{ _('-zara') }}</td><td>{{ _('cond.rsn') }}</td><td>{{ _('причинный кондиционал («раз»)') }}</td>
                </tr>
                <tr>
                <td>{{ _('-зд / -зтI') }}</td><td>{{ _('-zd / -zṭ') }}</td><td>{{ _('prm.st') }}</td><td>{{ _('пермиссив статических глаголов') }}</td>
                </tr>
                <tr>
                <td>{{ _('-запыт') }}</td><td>{{ _('-zapət') }}</td><td>{{ _('freq') }}</td><td>{{ _('фреквентатив') }}</td>
                </tr>
                <tr>
                <td>{{ _('-(з)ла') }}</td><td>{{ _('-(z)la') }}</td><td>{{ _('dyn') }}</td><td>{{ _('динамизация') }}</td>
                </tr>
                <tr>
                <td>{{ _('-зд.хIва') }}</td><td>{{ _('-zd.hʷa') }}</td><td>{{ _('cnc') }}</td><td>{{ _('концессив (уступительность)') }}</td>
                </tr>
                <tr>
                <td>{{ _('-зтын') }}</td><td>{{ _('-ztən') }}</td><td>{{ _('cond.real') }}</td><td>{{ _('кондиционал I') }}</td>
                </tr>
                <tr>
                <td>{{ _('-и') }}</td><td>{{ _('-əj') }}</td><td>{{ _('prs') }}</td><td>{{ _('настоящее время') }}</td>
                </tr>
                <tr>
                <td>{{ _('-ижьтара') }}</td><td>{{ _('-əjž’tara') }}</td><td>{{ _('since') }}</td><td>{{ _('конверб («с тех пор как»)') }}</td>
                </tr>
                <tr>
                <td>{{ _('-ищтI') }}</td><td>{{ _('-əjš’ṭ') }}</td><td>{{ _('emp') }}</td><td>{{ _('эмфаза') }}</td>
                </tr>
                <tr>
                <td>{{ _('-йа') }}</td><td>{{ _('-ja') }}</td><td>{{ _('qn') }}</td><td>{{ _('неличный интеррогатив') }}</td>
                </tr>
                <tr>
                <td>{{ _('-ква') }}</td><td>{{ _('-kʷa') }}</td><td>{{ _('pl') }}</td><td>{{ _('множественное число') }}</td>
                </tr>
                <tr>
                <td>{{ _('-кI') }}</td><td>{{ _('-ḳ') }}</td><td>{{ _('indf') }}</td><td>{{ _('неопределённость') }}</td>
                </tr>
                <tr>
                <td>{{ _('-кI') }}</td><td>{{ _('-ḳ') }}</td><td>{{ _('unit') }}</td><td>{{ _('счётный суффикс (при числительных)') }}</td>
                </tr>
                <tr>
                <td>{{ _('-кIва') }}</td><td>{{ _('-ḳʷa') }}</td><td>{{ _('cvb.neg') }}</td><td>{{ _('отрицательное деепричастие') }}</td>
                </tr>
                <tr>
                <td>{{ _('-ла') }}</td><td>{{ _('-la') }}</td><td>{{ _('lat') }}</td><td>{{ _('латив') }}</td>
                </tr>
                <tr>
                <td>{{ _('-ла') }}</td><td>{{ _('-la') }}</td><td>{{ _('hab') }}</td><td>{{ _('хабитуалис') }}</td>
                </tr>
                <tr>
                <td>{{ _('-ла') }}</td><td>{{ _('-la') }}</td><td>{{ _('ins') }}</td><td>{{ _('инструменталис') }}</td>
                </tr>
                <tr>
                <td>{{ _('-ла') }}</td><td>{{ _('-la') }}</td><td>{{ _('cnс') }}</td><td>{{ _('уступительность') }}</td>
                </tr>
                <tr>
                <td>{{ _('-ма') }}</td><td>{{ _('-ma') }}</td><td>{{ _('q') }}</td><td>{{ _('общий интеррогатив') }}</td>
                </tr>
                <tr>
                <td>{{ _('-мгIва') }}</td><td>{{ _('-mʕʷa') }}</td><td>{{ _('npot') }}</td><td>{{ _('номинализация возможности') }}</td>
                </tr>
                <tr>
                <td>{{ _('-мца') }}</td><td>{{ _('-mca') }}</td><td>{{ _('cvb') }}</td><td>{{ _('конверб') }}</td>
                </tr>
                <tr>
                <td>{{ _('-мыгIва') }}</td><td>{{ _('-məʕʷa') }}</td><td>{{ _('dprc') }}</td><td>{{ _('депрециатив (сожаление)') }}</td>
                </tr>
                <tr>
                <td>{{ _('-н') }}</td><td>{{ _('-n') }}</td><td>{{ _('pst(.dcl)') }}</td><td>{{ _('прошедшее время') }}</td>
                </tr>
                <tr>
                <td>{{ _('-нацIкIьа(ра) / -ндзкIа(ра)') }}</td><td>{{ _('-nac̣ḳa(ra) / ‑nʒḳa(ra)') }}</td><td>{{ _('until') }}</td><td>{{ _('конверб («пока (не)»)') }}</td>
                </tr>
                <tr>
                <td>{{ _('-нда') }}</td><td>{{ _('-nda') }}</td><td>{{ _('opt') }}</td><td>{{ _('оптатив') }}</td>
                </tr>
                <tr>
                <td>{{ _('-пхьадза') }}</td><td>{{ _('-pχ’aʒa') }}</td><td>{{ _('each') }}</td><td>{{ _('конверб («каждый раз, когда»)') }}</td>
                </tr>
                <tr>
                <td>{{ _('-пI/-б') }}</td><td>{{ _('-ṗ/-b') }}</td><td>{{ _('npst.dcl') }}</td><td>{{ _('непрошедшее время') }}</td>
                </tr>
                <tr>
                <td>{{ _('-р(а)') }}</td><td>{{ _('-r(a)') }}</td><td>{{ _('fut.nfin') }}</td><td>{{ _('нефинитное будущее') }}</td>
                </tr>
                <tr>
                <td>{{ _('-ра') }}</td><td>{{ _('-ra') }}</td><td>{{ _('msd') }}</td><td>{{ _('масдар') }}</td>
                </tr>
                <tr>
                <td>{{ _('-ра') }}</td><td>{{ _('-ra') }}</td><td>{{ _('nml') }}</td><td>{{ _('номинализация') }}</td>
                </tr>
                <tr>
                <td>{{ _('-ргIа') }}</td><td>{{ _('-rʕa') }}</td><td>{{ _('aspl') }}</td><td>{{ _('ассоциативная множественность') }}</td>
                </tr>
                <tr>
                <td>{{ _('-ргIад') }}</td><td>{{ _('-rʕad') }}</td><td>{{ _('prm.dyn') }}</td><td>{{ _('пермиссив динамических глаголов') }}</td>
                </tr>
                <tr>
                <td>{{ _('-ркIва') }}</td><td>{{ _('-rḳʷa') }}</td><td>{{ _('cnt') }}</td><td>{{ _('континуатив') }}</td>
                </tr>
                <tr>
                <td>{{ _('-р(ы)квын / ‑р(ы)кIвын') }}</td><td>{{ _('-r(ə)kʷən / ‑r(ə)ḳʷən') }}</td><td>{{ _('cond') }}</td><td>{{ _('кондиционал II') }}</td>
                </tr>
                <tr>
                <td>{{ _('-рныс') }}</td><td>{{ _('-rnəs') }}</td><td>{{ _('purp') }}</td><td>{{ _('целевой конверб (глагольная форма)') }}</td>
                </tr>
                <tr>
                <td>{{ _('-рта') }}</td><td>{{ _('-rta') }}</td><td>{{ _('nloc') }}</td><td>{{ _('имя места') }}</td>
                </tr>
                <tr>
                <td>{{ _('-с') }}</td><td>{{ _('-s') }}</td><td>{{ _('nondum') }}</td><td>{{ _('кунктатив («ещё не», только при отрицании) ') }}</td>
                </tr>
                <tr>
                <td>{{ _('-стI') }}</td><td>{{ _('-sṭ') }}</td><td>{{ _('emp') }}</td><td>{{ _('эмфаза (при императиве)') }}</td>
                </tr>
                <tr>
                <td>{{ _('-тI/-д') }}</td><td>{{ _('-ṭ/-d') }}</td><td>{{ _('dcl') }}</td><td>{{ _('декларатив') }}</td>
                </tr>
                <tr>
                <td>{{ _('-та') }}</td><td>{{ _('-ta') }}</td><td>{{ _('adv') }}</td><td>{{ _('адвербиалис') }}</td>
                </tr>
                <tr>
                <td>{{ _('-у') }}</td><td>{{ _('-əw') }}</td><td>{{ _('prs.nfin') }}</td><td>{{ _('нефинитный презенс (только у статических глаголов)') }}</td>
                </tr>
                <tr>
                <td>{{ _('-уа /-у') }}</td><td>{{ _('-wa /-əw') }}</td><td>{{ _('ipf') }}</td><td>{{ _('имперфектив (только у динамических глаголов)') }}</td>
                </tr>
                <tr>
                <td>{{ _('-уачва') }}</td><td>{{ _('-waĉa') }}</td><td>{{ _('dfcl') }}</td><td>{{ _('диффисилитив («трудно»)') }}</td>
                </tr>
                <tr>
                <td>{{ _('-х') }}</td><td>{{ _('-χ') }}</td><td>{{ _('re') }}</td><td>{{ _('рефактив') }}</td>
                </tr>
                <tr>
                <td>{{ _('-ха') }}</td><td>{{ _('-χa') }}</td><td>{{ _('inc') }}</td><td>{{ _('инцептив') }}</td>
                </tr>
                <tr>
                <td>{{ _('-хвы') }}</td><td>{{ _('-χʷə') }}</td><td>{{ _('fcl') }}</td><td>{{ _('фасилитив («легко»)') }}</td>
                </tr>
                <tr>
                <td>{{ _('-хьа') }}</td><td>{{ _('-χ’a') }}</td><td>{{ _('iam') }}</td><td>{{ _('ямитив («уже»)') }}</td>
                </tr>
                <tr>
                <td>{{ _('-чва') }}</td><td>{{ _('-ĉa') }}</td><td>{{ _('exc') }}</td><td>{{ _('нимифактив, экцессив («слишком»)') }}</td>
                </tr>
                <tr>
                <td>{{ _('-чва') }}</td><td>{{ _('-ĉa') }}</td><td>{{ _('plh') }}</td><td>{{ _('множественное число личное') }}</td>
                </tr>
                <tr>
                <td>{{ _('-ш') }}</td><td>{{ _('-š') }}</td><td>{{ _('fut') }}</td><td>{{ _('будущее время') }}</td>
                </tr>
                <tr>
                <td>{{ _('-ша') }}</td><td>{{ _('-ša') }}</td><td>{{ _('cirс') }}</td><td>{{ _('циркумферентив («вокруг»)') }}</td>
                </tr>
                <tr>
                <td>{{ _('-шва') }}</td><td>{{ _('-ŝa') }}</td><td>{{ _('sml') }}</td><td>{{ _('симилятив («как будто»)') }}</td>
                </tr>
                <tr>
                <td>{{ _('-ща') }}</td><td>{{ _('-š’a') }}</td><td>{{ _('nmnr') }}</td><td>{{ _('номинализация способа') }}</td>
                </tr>
                <tr>
                <td>{{ _('-ъа') }}</td><td>{{ _('-ʔa') }}</td><td>{{ _('ploc') }}</td><td>{{ _('локатив') }}</td>
                </tr>
              </table><br>

              <p class="lead">{{ _('4. Некоторые грамматические корни') }}</p>

              <table>
                <tr>
                <td>{{ _('орфография') }}</td><td>{{ _('транскрипция') }}</td><td>{{ _('глосса') }}</td><td>{{ _('название') }}</td>
                </tr>
                <tr>
                <td>{{ _('-кIв(а)-') }}</td><td>{{ _('-ḳʷ(a)-') }}</td><td>{{ _('cop') }}</td><td>{{ _('связка') }}</td>
                </tr>
                <tr>
                <td>{{ _('-чIвы-') }}</td><td>{{ _('-ĉ̣ə-') }}</td><td>{{ _('npro') }}</td><td>{{ _('именная проформа') }}</td>
                </tr>
                <tr>
                <td>{{ _('ари') }}</td><td>{{ _('arəj') }}</td><td>{{ _('prox') }}</td><td>{{ _(' ') }}</td>
                </tr>
                <tr>
                <td>{{ _('ани') }}</td><td>{{ _('anəj') }}</td><td>{{ _('med') }}</td><td>{{ _(' ') }}</td>
                </tr>
                <tr>
                <td>{{ _('ауи') }}</td><td>{{ _('awəj') }}</td><td>{{ _('dist') }}</td><td>{{ _(' ') }}</td>
                </tr>
                <tr>
                <td>{{ _('хIва') }}</td><td>{{ _('hʷa') }}</td><td>{{ _('quot') }}</td><td>{{ _('квотатив (< сказать)') }}</td>
                </tr>
                <tr>
                <td>{{ _('дына') }}</td><td>{{ _('dəna') }}</td><td>{{ _('filler') }}</td><td>{{ _('филлер') }}</td>
                </tr>
                <tr>
                <td>{{ _(' ') }}</td><td>{{ _(' ') }}</td><td>{{ _('ptcl') }}</td><td>{{ _('частица') }}</td>
                </tr>
              </table>

            </div>
          </div>

      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="consist">
        <div class="my-auto">
          <h3 class="mb-3">{{ _('Состав корпуса') }}</h3>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <p class="lead">{{ _('На данный момент корпус содержит 25 текстов общей длительностью 53 минуты. Объем корпуса 3 636 токенов. ') }}</p>

              <p class="lead">{{ _('Тексты корпуса были записаны от 8 носителей, от 1930 до 1961 г.р. Все тексты представляют собой спонтанные рассказы носителей об их жизни и традициях аула, сказки и легенды. Подробная информация о каждом тексте доступна в таблице, появляющейся при выборе подкорпуса.') }}</p>

            </div>
          </div>

      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="authors">
        <div class="my-auto">
          <h3 class="mb-3">{{ _('Создатели') }}</h3>
          <p class="lead" align="justify">{{ _('Тексты корпуса подготовлены по итогам проведения исследования (проект № 18-05-0014) в рамках Программы «Научный фонд Национального исследовательского университета «Высшая школа экономики» (НИУ ВШЭ)» в 2019 г. и в рамках государственной поддержки ведущих университетов Российской Федерации «5-100».') }}</p>

      <p class="lead">{{ _('Помощь в расшифровке текстов оказали носители абазинского языка Т. М. Абазова,  О. Р. Аджиева, Ф. Б. Айсанова, Ф. М. Асанаева, А. А. Биджев, С. З. Джандубаева, К. М. Джужуев, Ф. М. Копсергенова, С. М. Озова, Д. О. Уша, О. Ш. Уша, Т. О. Уша, З. М. Чукова, О. М. Чукова и А. Ш. Цеков.') }}</p>

      <p class="lead">{{ _('В расшифровке и глоссировании текстов принимали участие студенты и преподаватели НИУ ВШЭ и РГГУ Д. А. Аракелова, П. М. Аркадьев, С. П. Дурнева, Е. С. Клягина, А. Г. Кошевой, Ю. А. Ландер, А. Б. Панова, К. И. Романова, А. А. Россиус, А. Д. Сорокина, Я. Г. Тестелец и А. И. Федоренко.') }}</p>

      <p class="lead">{{ _('Тексты подготовлены к публикации в виде корпуса А. Б. Пановой и А. Д. Сорокиной. Дальнейшая техническая работа над корпусом выполнена Е. О. Сокур.') }}</p>

      <p class="lead">{{ _('Устный корпус абазинского языка поддерживается') }} <a href="https://ilcl.hse.ru/" target="_blank" style="color: #d9241b !important">{{ _('Международной лабораторией языковой конвергенции Высшей Школы Экономики') }}</a>. {{ _('Корпус создан в рамках Программы фундаментальных исследований Национального исследовательского университета «Высшая школа экономики» (НИУ ВШЭ) и с использованием средств субсидии в рамках государственной поддержки ведущих университетов Российской Федерации «5-100».') }}</p>

      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="contacts">
        <div class="my-auto">
          <h3 class="mb-3">{{ _('Контакты') }}</h3>
          <p class="lead">{{ _('По содержательным вопросам:') }}<br>
          <a href="https://www.hse.ru/staff/apanova" target="_blank" style="color: #d9241b !important">{{ _('Анастасия Борисовна Панова') }}</a>: anastasia.b.panova@gmail.com</p>

          <p class="lead">{{ _('По техническим вопросам:') }}<br>
          <a href="https://www.hse.ru/staff/sokureo" target="_blank" style="color: #d9241b !important">{{ _('Елена Олеговна Сокур') }}</a>: elena.o.sokur@gmail.com</p>
        </div>
      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="cite">
        <div class="my-auto">
          <h3 class="mb-3">{{ _('Как процитировать корпус') }}</h3>
          <p class="lead">{{ _('Если Вы используете данные Корпуса в своём исследовании, воспользуйтесь следующей ссылкой:') }}<br>
        <div class="panel panel-default">
          <div class="panel-body" align="justify" style="color: #d9241b !important">{{ _('А. Б. Панова, А. Д. Сорокина, П. М. Аркадьев, Е. О. Сокур. Устный корпус абазинского языка. М.: Школа лингвистики, НИУ ВШЭ; Международная лаборатория языковой конвергенции, НИУ ВШЭ. (Доступно онлайн по адресу: https://linghub.ru/spoken_abaza/, дата обращения') }} <c id="dateFolder"></c>.)</div>
            <script language="JavaScript">
            temp_date = new Date();
            day = temp_date.getDate();
            month = temp_date.getMonth() + 1;
            year = temp_date.getFullYear();
            if (day < 10) {
            day = "0" + day;
            }
            if (month <10) {
            month = "0" + month;
            }
            document.getElementById('dateFolder').innerHTML = day + "." + month + "." + year;
            </script>
          </div>
        </div>
      </section>

      <hr class="m-0">

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/resume.min.js"></script>

  </body>

</html>
